services:
  - type: web
    name: equizz-backend
    runtime: node
    region: frankfurt
    plan: free
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
      - key: DB_DIALECT
        value: mysql
      - key: JWT_SECRET
        generateValue: true
      - key: JWT_EXPIRES_IN
        value: 8h
      - key: DB_HOST
        sync: false
      - key: DB_PORT
        sync: false
      - key: DB_USER
        sync: false
      - key: DB_PASSWORD
        sync: false
      - key: DB_NAME
        sync: false
      - key: SENDGRID_API_KEY
        sync: false
      - key: SENDGRID_VERIFIED_SENDER
        sync: false
      - key: GOOGLE_AI_API_KEY
        sync: false
